*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background-color: black;
}
.whiteTxt{
    color: white;
}
.mainTxt{
    text-align: center;
    position: inherit;
    padding-left: 75px;
}
.quoteBox{
    width: 400px;
    margin-left: 42vw;
    margin-top: 30vh;
}
.italic{
    font-weight: bold;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.quoteTxt{
    text-align: center;
    margin-top: 50px;
    font-size: 3em;
}
.non{
    text-decoration: none;
}
.header{
    width: 100%;
    height: 100vh;
    background: black;
}
.foot{
    margin-top: 37vh;
}
.home{
    margin-top: 150px;
}
.home a {
    text-decoration: none;
    color: black;
}
.socialInfo{
    text-align: center;
}
.side-nav{
    width: 250px;
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
}
.nav-links{
    display: flex;
    margin-top: 100% ;
    list-style: none;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
}
.nav-links li{
    padding-top: 50px;
}
.nav-links li a {
    color: black;
    text-decoration: none;
    padding: 10px 14px;
}
.nav-links li p{
    font-size: 30px;
}
.nav-links li:hover a{
    color: gray;
    width: 100%;
    font-style: italic;
    font-weight: bolder;
}
.cont1{
    width: 33%;
    height: 100%;
    position: absolute;
    background: black;
}
.cont2{
    margin-left: 33%;
    width: 34%;
    height: 100%;
    position: absolute;
    background: white;
}
.cont3{
    margin-left: 66%;
    width: 34%;
    height: 100%;
    position: absolute;
    background: black;
}
.logos{
   margin:50% 0 0 150px ;
   width: 50%;
}